@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
body{
    font-family: 'Festive', cursive;;
    text-align: center;
    background: #cbced1;
}
.container{
    margin-left: 600px;
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1,-14px 14px 20px whitesmoke;
}
.brande title{
    font-weight: 900;
    font-size: 40px;
    color: #cbced1;
    letter-spacing: 1px;
    padding: 30px;
}
.inputs{
    text-align: center;
    margin: 0px;
}
label,input,button{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}
input::placeholder{
    color: grey;
}
input{
    width: 330px;
    background:white;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,inset -6px -6px 6px white
}
button{
    margin-top: 50px;
    width: 330px;
    background:#cbced1;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1,-6px -6px 6px wheat;
}
button:hover{
    box-shadow: none;
}
